{% load widget_tweaks %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact Me</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  </head>
  <body>

    <div class="container">
      <form class="" action="{% url 'send_email_view' %}" method="post">
        {% csrf_token %}
        <p>
          {{ form.sender|attr:"type:email"|attr:"placeholder:Who are you?" }}
        </p>
        <p>
          {{ form.message|add_class:"materialize-textarea"|attr:"placeholder:What would you like to say?" }}
        </p>
        <p>
          {{ form.jerk|attr:"class:filled-in" }}
          <label for="{{ form.jerk.auto_id }}">{{ form.jerk.label }}</label>
        </p>
        <button type="submit" value="Contact Me" class="btn waves-effect waves-light">
          Contact Me!
        </button>
      </form>
    </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </body>
</html>
